<nav>
  <div class="navbar-column">
    {{!-- <div class="theme-switch">
          {{> themeSwitch}
    </div> --}}
  </div>
  <div class="navbar-column">
    <a href="/api/pokedex/list" title="Catalogo">Agregar a favoritos</a>
    <a href="/api/pokedex/view" title="Pokédex">Listado de Pokémon</a>
    <a href="/api/pokedex/finder" title="Pokédex">Buscar Pokémon</a>
    <a href="/api/pokedex/" title="Pokédex">JSON</a>
  </div>
  <div class="navbar-column">
      <a href="/api/user/profile" title="User profile"><img src="https://cdn-icons-png.flaticon.com/512/9654/9654233.png" class="cart"
        alt="user-profile">
      </a>
    <div class="carrito" title="Pokémons Favoritos">
      <button class="" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <img src="https://cdn-icons-png.flaticon.com/512/4263/4263282.png" class="cart" alt="" />
        <span id="productosCounter">0</span>
      </button>
    </div>
    <a href="/api/auth/logout " class="log-button" title="Logout">Logout</a>
  </div>
  {{> carrito}}
</nav>