<div class="home-box">

  <h1>Pokédex</h1>
  <img src="/public/img/Pokedex.webp" class="backend" alt="backend" />
  <div class="navbar-column">
    <a href="/api/auth/login" class="log-button" title="Login">Log In</a>
    <a href="/api/auth/signup" title="Signup ">Sign Up</a>
  </div>

</div>