<div class="catalogo-wrapper">
  <section id="contenedor-carta">
  </section>
  <h2 class="tienda-titulo">Selecciona un Pokémon</h2>
  <section class="boton-wrapper" id="contenedor-listado">
  </section>
</div>