<h2>Listado de Pokémons:</h2>
<div id="pokedex" class="pokedex-wrapper">
  {{#each pokemonList}}
    <div class="pokemon-card">
      <h2>{{name}}</h2>
      <p>Url:{{url}} </p>
    </div>
  {{/each}}

</div>